@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");

/* Variables */

:root {
  --color-1: #222222;
  --color-2: #f3f3f3;
}

/* Styles generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  width: 100%;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url(../img/back.png);
}

/* Styles del Header */

header {
  background-color: var(--color-1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.logo-funko {
  width: 130px;
}

.logo-section {
  font-size: 21px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-funko2 {
  width: 80px;
}

.logo-section p {
  position: relative;
  right: 12px;
  font-family: Nabla;
}



.form-content {
  margin: auto;
  margin-top: 5rem;
  width: 100%;
  max-width: 450px;
  padding: 50px 60px 70px;
  text-align: center;
  border-radius: 25px;
  color: #f3f3f3;
  background-color: rgba(0, 0, 0, 0.3);
}

.form-content h2 {
  font-size: 30px;
  margin-bottom: 60px;
  color: #f3f3f3;
  position: relative;
}

input {
  width: 100%;
  outline: none;
  padding: 18px 15px;
  color: #302e2e;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 40px;
}

form .form-control {
  height: 50px;
  position: relative;
  margin-top: 15px;
}

.form-control input {
  width: 100%;
  outline: none;
  padding: 18px 15px;
  color: #302e2e;
  border-radius: 15px;
  cursor: pointer;
}
.form-control input:is(:focus, :valid) {
  background: #444;
  padding: 16px 20px 0;
}

.form-control label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-130%);
  font-size: 0.75rem;
  pointer-events: none;
  color: #8c8c8c;
  transition: all 0.1s ease;
}
.form-select {
  display: block;
  width: 100%;
  padding: 18px 15px;
  outline: none;
  border: 0;
  border-radius: 15px;
}

.form-select option {
  color: #2a2a2a;
}

form .form-terms {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

form .terms {
  display: flex;
}

form .terms input {
  margin-right: 5px;
  accent-color: #b3b3b3;
  width: 150px;
}

#btn-send {
  margin-top: 2rem;
  padding: 18px;
  border-radius: 15px;
  background-color: rgb(118, 58, 169);
  font-size: 15px;
  color: #f3f3f3;
}

#btn-send:hover {
  background-color: rgb(98, 96, 97);
  outline: none;
}

.error {
  color: red;
  margin-bottom: 5px;
}
.form-control input.error,
.form-select.error {
  border: 2px solid red;
}

.back {
  background-color: rgb(118, 58, 169);
  padding: 20px;
  margin-right: 2rem;
  border-radius: 15px;
  font-size: 1rem;
  color: #f3f3f3;
  text-decoration: none;
}

/* Styles del footer */

#firstSectionFooter {
  align-items: center;
  background-color: #222222;
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem;
  height: 13.5rem;
  justify-content: space-between;
  margin-top: 7rem;
}

#redesSociales > h3 {
  color: #f3f3f3;
  margin-left: 1rem;
  font-size: 25px;
}

.bi-twitter::before {
  color: #14aed0;
  font-size: 2rem;
}

.bi-facebook::before {
  color: #1476d0;
  font-size: 2rem;
}

.bi-instagram::before {
  color: #ce0cff;
  font-size: 2rem;
}

#iconos {
  display: flex;
  justify-content: space-between;
}

#secondSectionFooter {
  background-color: #c4c4c4;
  height: 1.56rem;
}

#secondSectionFooter > h6 {
  padding-top: 3px;
  text-align: center;
}

iframe {
  width: 250px;
  height: 110px;
  border-radius: 30px;
}

.ubi-section p {
  color: var(--color-2);
  font-size: 18px;
}

.ubi-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.ubi-section i {
  color: var(--color-2);
}

#contact-section {
  width: 300px;
  color: var(--color-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

#contact-section h6 {
  font-size: 20px;
}

@media screen and (max-width: 1024px) {
   /* Form*/

  
    /* Para el footer */

  #firstSectionFooter {
    flex-direction: column;
    gap: 4rem;
    height: 100%;
  }
}

@media screen and (max-width: 480px) {
    .form-content {
       font-size:18px;
      }}